
<%= form_with scope: :employee, url: employees_path, local: true do |form| %>
    <table class = "edit_table">
        <tr>
            <td><%= form.label :name %></td>
            <td><%= form.text_field :name %></td>
        </tr>
        <tr>
            <td><%= form.label :age %><br></td>
            <td><%= form.text_field :age %></td>
        </tr>
        <tr>
            <td><%= form.label :gender %><br></td>
            <td><%= form.text_field :gender %></td>
        </tr>
        <tr>
            <td><%= form.label :designation %><br></td>
            <td><%= form.text_field :designation %></td>
        </tr>
    </table>
    <p>
      <%= form.submit @buttonName %>
    </p>
  <% end %>
  
  <%= link_to 'Home', employees_path %>